streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
langchain_huggingface
google-generativeai
rank-bm25
gdown
faiss-cpu
sentence-transformers
spacy==3.7.0
de_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0-py3-none-any.whl
de_core_news_md @ https://github.com/explosion/spacy-models/releases/download/de_core_news_md-3.7.0/de_core_news_md-3.7.0-py3-none-any.whl
keybert
scikit-learn
numpy
python-dotenv
transformers
networkx>=2.5
scipy>=1.7.0
torch>=1.9.0
tqdm
